@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: March;
    font-weight: normal;
    font-style: normal;
    src: url(../../static/fonts/March/March.woff2) format('woff2');
    src:
      url(../../static/fonts/March/March.woff) format('woff'),
      url(../../static/fonts/March/March.ttf) format('truetype'),
      url(../../static/fonts/March/March.eot?#iefix)
        format('embedded-opentype'),
      url(../../static/fonts/March/March.svg#March) format('svg');
  }

  .font-logo {
    font-family: March, sans-serif;
  }
  .font-ptmono {
    font-family: 'PT Mono', monospace;
  }

  .w-home {
    width: 900px;
  }

  .blur-bottom {
    @apply h-full bg-main-img-blur;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    mask: linear-gradient(black, 65%, transparent);
  }
  .blur-top {
    @apply h-full bg-main-img-blur;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    mask: linear-gradient(transparent, 65%, black);
  }

  html {
    font-size: 125%;
    @apply font-ptmono font-normal leading-relaxed tracking-wider text-blue-munsell-950;
  }

  ::selection {
    @apply bg-blue-munsell-900 text-blue-munsell-100;
  }
}

:root {
  @apply bg-offwhite;
}

hr {
  @apply border-blue-munsell-700/70;
}
