@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: March;
    font-weight: normal;
    font-style: normal;
    src: url(../../static/fonts/March/March.woff2) format('woff2');
    src: url(../../static/fonts/March/March.woff) format('woff'),
          url(../../static/fonts/March/March.ttf) format('truetype'),
          url(../../static/fonts/March/March.eot?#iefix) format('embedded-opentype'),
          url(../../static/fonts/March/March.svg#March) format('svg');
  }

  @font-face {
    font-family: 'InputMono';
    font-weight: normal;
    font-style: normal;
    src: url(../../static/fonts/InputMono/InputMono-Regular.woff2) format('woff2');
    src: url(../../static/fonts/InputMono/InputMono-Regular.woff) format('woff'),
         url(../../static/fonts/InputMono/InputMono-Regular.eot?#iefix) format('embedded-opentype'),
         url(../../static/fonts/InputMono/InputMono-Regular.otf) format('otf'),
         url(../../static/fonts/InputMono/InputMono-Regular.svg#InputMono-Regular) format('svg');         
  }
  @font-face {
    font-family: 'InputMono';
    font-weight: normal;
    font-style: italic;
    src: url(../../static/fonts/InputMono/InputMono-Italic.woff2) format('woff2');
    src: url(../../static/fonts/InputMono/InputMono-Italic.woff) format('woff'),
         url(../../static/fonts/InputMono/InputMono-Italic.eot?#iefix) format('embedded-opentype'),
         url(../../static/fonts/InputMono/InputMono-Italic.otf) format('otf'),
         url(../../static/fonts/InputMono/InputMono-Italic.svg#InputMono-Italic) format('svg');         
  }  
  @font-face {
    font-family: 'InputMono';
    font-weight: bold;
    font-style: normal;
    src: url(../../static/fonts/InputMono/InputMono-Bold.woff2) format('woff2');
    src: url(../../static/fonts/InputMono/InputMono-Bold.woff) format('woff'),
         url(../../static/fonts/InputMono/InputMono-Bold.eot?#iefix) format('embedded-opentype'),
         url(../../static/fonts/InputMono/InputMono-Bold.otf) format('otf'),
         url(../../static/fonts/InputMono/InputMono-Bold.svg#InputMono-Bold) format('svg');         
  }
  @font-face {
    font-family: 'InputMono';
    font-weight: bold;
    font-style: italic;
    src: url(../../static/fonts/InputMono/InputMono-BoldItalic.woff2) format('woff2');
    src: url(../../static/fonts/InputMono/InputMono-BoldItalic.woff) format('woff'),
         url(../../static/fonts/InputMono/InputMono-BoldItalic.eot?#iefix) format('embedded-opentype'),
         url(../../static/fonts/InputMono/InputMono-BoldItalic.otf) format('otf'),
         url(../../static/fonts/InputMono/InputMono-BoldItalic.svg#InputMono-BoldItalic) format('svg');         
  }

  @font-face {
    font-family: 'InputSerif';
    font-weight: normal;
    font-style: normal;
    src: url(../../static/fonts/InputSerif/InputSerif-Medium.woff2) format('woff2');
    src: url(../../static/fonts/InputSerif/InputSerif-Medium.woff) format('woff'),
         url(../../static/fonts/InputSerif/InputSerif-Medium.eot?#iefix) format('embedded-opentype'),
         url(../../static/fonts/InputSerif/InputSerif-Medium.otf) format('otf'),
         url(../../static/fonts/InputSerif/InputSerif-Medium.svg#InputSerif-Medium) format('svg');         
  }
  @font-face {
    font-family: 'InputSerif';
    font-weight: normal;
    font-style: italic;
    src: url(../../static/fonts/InputSerif/InputSerif-MediumItalic.woff2) format('woff2');
    src: url(../../static/fonts/InputSerif/InputSerif-MediumItalic.woff) format('woff'),
         url(../../static/fonts/InputSerif/InputSerif-MediumItalic.eot?#iefix) format('embedded-opentype'),
         url(../../static/fonts/InputSerif/InputSerif-MediumItalic.otf) format('otf'),
         url(../../static/fonts/InputSerif/InputSerif-MediumItalic.svg#InputSerif-MediumItalic) format('svg');         
  }  
  @font-face {
    font-family: 'InputSerif';
    font-weight: bold;
    font-style: normal;
    src: url(../../static/fonts/InputSerif/InputSerif-Black.woff2) format('woff2');
    src: url(../../static/fonts/InputSerif/InputSerif-Black.woff) format('woff'),
         url(../../static/fonts/InputSerif/InputSerif-Black.eot?#iefix) format('embedded-opentype'),
         url(../../static/fonts/InputSerif/InputSerif-Black.otf) format('otf'),
         url(../../static/fonts/InputSerif/InputSerif-Black.svg#InputSerif-Black) format('svg');         
  }
  @font-face {
    font-family: 'InputSerif';
    font-weight: bold;
    font-style: italic;
    src: url(../../static/fonts/InputSerif/InputSerif-BlackItalic.woff2) format('woff2');
    src: url(../../static/fonts/InputSerif/InputSerif-BlackItalic.woff) format('woff'),
         url(../../static/fonts/InputSerif/InputSerif-BlackItalic.eot?#iefix) format('embedded-opentype'),
         url(../../static/fonts/InputSerif/InputSerif-BlackItalic.otf) format('otf'),
         url(../../static/fonts/InputSerif/InputSerif-BlackItalic.svg#InputSerif-BlackItalic) format('svg');         
  }
  
  .font-logo{ font-family: March, sans-serif; }
  .font-inputmono{ font-family: InputMono, monospace; }
  .font-inputserif{ font-family: InputSerif, serif; }

  .blur-bottom{ 
    @apply bg-main-img-blur h-full;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    mask: linear-gradient(black, 65%, transparent); 
  }

  .blur-top {
    @apply bg-main-img-blur h-full;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    mask: linear-gradient(transparent, 65%, black); 
  }

  html { 
    font-size: 112.5%;
    @apply text-blue-munsell-950 font-inputmono tracking-wider leading-relaxed;
  }

  ::selection {
    @apply text-blue-munsell-100 bg-blue-munsell-900;
  }
}

:root {
  @apply bg-offwhite;
}
